@{
    ViewBag.Title = "角色管理";
    Layout = null;
}
<div class="bjui-pageContent" style="top: 0px; bottom: 35px;">
    <div id="gridList" style="bottom: 30px;">
        <table id="j_datagrid" class="table table-bordered"></table>
    </div>
</div>
<script>
    $(function () {
        loadGrid();

        $('.bjui-datagrid').resize(function () {
            $('.bjui-datagrid').css('width', '100%').css('height', '100%');
            console.log('渲染');
        });
    });

    function loadGrid() {
        $('#j_datagrid').datagrid({
            height: '100%',
            tableWidth: '100%',
            gridTitle: '角色表格',
            showToolbar: true,
            dataUrl: '/sysrole/GetData',
            filterThead: false,
            columnFilter: false,
            inlineEditMult: false,
            showCheckboxcol: true,
            paging: { pageSize: 15},
            columns: [
                { name: 'role_name', label: '角色名称', align: 'center' },
                { name: 'role_code', label: '角色编码', align: 'center' },
                { name: 'sort', label: '排序', align: 'center' },
                 { name: 'remark', label: '备注', align: 'center' },
                  {
                      name: 'status', label: '启用状态', align: 'center', render: function (value, data) {
                          if (value) {
                              return '启用';
                          } else {
                              return '禁用';
                          }
                      }

                  },
                { name: 'create_time', label: '创建时间', align: 'center' }
            ],
            // paging: { pageSize: 50, pageCurrent: 10 },
            linenumberAll: true
        });


        jutils.loadToolBarExt('#gridList', [{ text: '设置权限', func: 'setrole', icon: 'tags' }]);
    }


    function add() {
        var url = '/sysrole/form/' + '';
        jutils.dialog('roledialog', url, '角色', null, null, function () {
            $('#j_datagrid').datagrid('refresh');
        });
    }
    function edit() {
        //console.log('edit');

        //var rows = $('#j_datagrid').data('selectedDatas');
        //if (rows !== undefined&&rows.length === 1) {
        //    var id = rows[0].id;
        //    BJUI.dialog({
        //        id: 'menudialog',
        //        url: '/sysmenu/form/' + id,
        //        title: '菜单',
        //        width: 1000,
        //        height: 600,
        //        mask: true
        //    });
        //} else {
        //    jutils.info('请先选择数据行');
        //}
        var rows = $('#j_datagrid').selectedRows();
        if (rows.length === 1) {
            var id = rows[0].id;
            var url = '/sysrole/form/' + id;
            jutils.dialog('roledialog', url, '角色', null, null, function () {
                $('#j_datagrid').datagrid('refresh');
            });
        } else {
            jutils.warn('请先选择数据行');
        }
    }

    function del() {

        console.log($('#j_datagrid').datagrid());
        //var rows = $('#j_datagrid').selectedRows();
        //if (rows.length === 0) {
        //    jutils.warn('选择一条数据行编辑');
        //    return;
        //}
        //jutils.confirm('确认删除吗', function () {
        //    jutils.info('你妹');
        //});
    }

    function setrole() {
        jutils.info('设置权限');
    }
</script>

