
@{
    ViewBag.Title = "按钮管理";
    Layout = null;
}
<div class="bjui-pageContent" style="top: 0px; bottom: 35px;">
    <div id="gridList" style="bottom: 30px;">
        <table id="j_datagrid" class="table table-bordered"></table>
    </div>
</div>
<script>
    $(function () {
        loadGrid();
    });

    function loadGrid() {
        $('#j_datagrid').datagrid({
            height: '100%',
            tableWidth: '100%',
            gridTitle: '按钮表格',
            showToolbar: true,
            dataUrl: '/sysfunc/GetData',
            filterThead: false,
            columnFilter: false,
            inlineEditMult: false,
            showCheckboxcol: true,
            paging: { pageSize: 15 },
            columns: [
                { name: 'func_cnname', label: '文本', align: 'center' },
                { name: 'func_name', label: '方法名', align: 'center' },
                { name: 'func_icon', label: '图标', align: 'center' },
                 { name: 'func_sort', label: '排序', align: 'center' },
                 { name: 'remark', label: '备注', align: 'center' },
                  {
                      name: 'status', label: '启用状态', align: 'center', render: function (value, data) {
                          if (value) {
                              return '启用';
                          } else {
                              return '禁用';
                          }
                      }

                  },
                { name: 'create_time', label: '创建时间', align: 'center' }
            ],
            // paging: { pageSize: 50, pageCurrent: 10 },
            linenumberAll: true
        });

        jutils.loadToolBar('#gridList');
    }


    function add() {
        var url = '/sysfunc/form/' + '';
        jutils.dialog('funcdialog', url, '按钮', null, null, function () {
            $('#j_datagrid').datagrid('refresh');
        });
    }
    function edit() {

        var rows = $('#j_datagrid').selectedRows();
        if (rows.length === 1) {
            var id = rows[0].id;
            var url = '/sysfunc/form/' + id;
            jutils.dialog('funcdialog', url, '按钮', null, null, function () {
                $('#j_datagrid').datagrid('refresh');
            });
        } else {
            jutils.warn('选择一条数据行进行编辑');
        }
    }

    function del() {

        console.log($('#j_datagrid').datagrid());
        //var rows = $('#j_datagrid').selectedRows();
        //if (rows.length === 0) {
        //    jutils.warn('选择一条数据行编辑');
        //    return;
        //}
        //jutils.confirm('确认删除吗', function () {
        //    jutils.info('你妹');
        //});
    }
</script>

