@{
    Layout = null;
}
<div class="bjui-pageContent" style="top: 0px; bottom: 35px;">
    <div class="bs-example">
        <form id="menuform">
            <input type="hidden" name="id" id="id" value="@(ViewBag.Id)">
            <div class="bjui-row col-2">
                <label class="row-label">登录名</label>
                <div class="row-input required">
                    <input type="text" name="username" id="username" value="" data-rule="required">
                </div>
                <label class="row-label">姓名</label>
                <div class="row-input required">
                    <input type="text" name="nickname" id="nickname" value="" data-rule="required">
                </div>
                <label class="row-label">密码</label>
                <div class="row-input required">
                    <input type="password" name="password" id="password" value="" data-rule="required">
                </div>
                <label class="row-label">身份证</label>
                <div class="row-input required">
                    <input type="text" name="id_number" id="id_number" value="">
                </div>
                <label class="row-label">联系方式</label>
                <div class="row-input required">
                    <input type="text" name="mobile_tel" id="mobile_tel" value="">
                </div>
                <label class="row-label">性别</label>
                <div class="row-input">
                    <select name="gender" id="gender" class="form-control">
                        <option value="0">女</option>
                        <option value="1">男</option>
                    </select>
                </div>
                <label class="row-label">启用状态</label>
                <div class="row-input required">
                    <select name="status" id="status" class="form-control">
                        <option value="true">启用</option>
                        <option value="false">禁用</option>
                    </select>
                </div>
                <br />
                <label class="row-label">备注</label>
                <div class="row-input">
                    <textarea name="remark" id="remark" data-toggle="autoheight" cols="60" rows="5"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="bjui-pageFooter" style="bottom: 25px;">
    <ul>
        <li><button type="button" class="btn-close btn" data-icon="close"><i class="fa fa-close"></i> 取消</button></li>
        <li><button type="button" class="btn-default btn" data-icon="save" onclick="save();"><i class="fa fa-save"></i> 保存</button></li>
    </ul>
</div>
<script type="text/javascript">
    $(function () {
        loadData();
    });


    function loadData() {
        var id = $.CurrentDialog.find("#id").val();
        if (id !== '') {

            jutils.ajaxGet('/sysuser/GetDataById', { id: id }, function (res) {
                // console.log('返回内容：\n' + JSON.stringify(json));
                $('#menuform').initFormData(res.Data);
            });
        }
    }
    function save() {
        BJUI.ajax('ajaxform', {
            url: '/sysuser/savedata',
            form: $('#menuform'),
            closeCurrent: true
        });
    }
</script>

