
@{
    ViewBag.Title = "用户管理";
    Layout = null;
}

<div class="bjui-pageContent" style="top: 0px; bottom: 35px;">
    <div id="menuDiv" style="bottom: 30px;">
        <table id="j_datagrid" class="table table-bordered"></table>
    </div>
</div>
<script>
    $(function () {
        loadGrid();
    });

    function loadGrid() {
        $('#j_datagrid').datagrid({
            height: '90%',
            tableWidth: '100%',
            gridTitle: '用户表格',
            showToolbar: true,
            dataUrl: '/sysuser/GetData',
            filterThead: false,
            columnFilter: false,
            inlineEditMult: false,
            showCheckboxcol: true,
            paging: { pageSize: 15, pageCurrent: 1 },
            columns: [
                { name: 'username', label: '登录名', align: 'center' },
                { name: 'nickname', label: '姓名', align: 'center' },
                { name: 'mobile_tel', label: '联系方式', align: 'center' },
                { name: 'id_number', label: '身份证', align: 'center' },
                {
                    name: 'gender', label: '性别', align: 'center', render: function (value, data) {
                        if (value === 1) {
                            return '男';
                        } else {
                            return '女';
                        }
                    }
                },
                { name: 'create_time', label: '操作时间', align: 'center'},
                {name:'status', label: '启用状态', align: 'center',render:function(value, data) {
                   if (value) {
                       return '允许';
                   } else {
                       return '禁用';
                   }
                }}
            ],
            // paging: { pageSize: 50, pageCurrent: 10 },
            linenumberAll: true
        });

        jutils.loadToolBar('#menuDiv');
    }


    function add() {
        var url='/sysuser/form/' + "";
        jutils.dialog('menudialog', url, '用户', null, null, function() {
            $('#j_datagrid').datagrid('refresh');
        });

    }
    function edit() {
        var rows = $('#j_datagrid').selectedRows();
        if (rows.length === 1) {
            var id = rows[0].id;
            BJUI.dialog({
                id: 'userdialog',
                url: '/sysuser/form/' + id,
                title: '菜单',
                width: 1000,
                height: 600,
                mask: true,
                onClose: function () {
                    $('#j_datagrid').datagrid('refresh');
                }
            });
        } else {
            jutils.warn('选择一条数据行进行编辑');
        }
        console.log(rows);
    }

    function del() {
        var rows = $('#j_datagrid').selectedRows();
        if (rows.length === 0) {
            jutils.warn('选择需要删除的数据行');
            return;
        }
        console.log(rows);
        jutils.confirm('确认删除吗', function () {
            jutils.info('你妹');
        });
    }
</script>